require('dotenv').config(); // لقراءة المتغيرات السرية من ملف .env
const jwt = require('jsonwebtoken'); // حزمة توليد رموز الأمان (يجب تثبيتها عبر npm i jsonwebtoken)

PORT=3000
APISYRIA_API_KEY=replace_with_your_api_key
SYRIATEL_SOURCE_GSM=0933xxxxxx
SYRIATEL_PIN=replace_with_your_pinADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_strong_password
DATABASE_URL=your_mongodb_or_supabase_url_here
JWT_SECRET=your_secret_key_heregit init
git add .
git commit -m "إعداد المشروع وتجهيزه للوحة التحكم"
git branch -M main
git remote add origin https://ziadalkheyat-wq.github.io/ziadstore/https://ziadalkheyat-wq.github.io/ziadstore/]
git push -u origin main